body{
    background-attachment: url("https://mdn.mozillademos.org/files/7693/catfront.png");
    background-attachment: fixed;
    background-position: 0 0;
    position: absolute;
}
.logo {
    font-family: 'Peralta', cursive;
  }
  
  .logo a {
    color: rgba(0,0,0,.9);
  }
  
  .logo a:hover,
  .logo a:active {
    text-decoration: none;
  }